.categoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoryItem .categoryImage {
  width: 35rem;
  height: 40rem;
}

.categoryItem h3 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 2rem;
}