
* {
  font-family: "Poppins", serif;


}

:root {
  --white: #ffffff;
  --black: #000000;
  --gray-black: #333333;
  --gray: #666666;
  --gray-sec: #3a3a3a;
  --pink: #FFF3E3;
  --brown: #b88e2f;
}


body,
input,
textarea,
button {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased; /* Padronização das fontes ficar mais fina  */
  font-weight: 400;
  font-size: 1rem;
  scrollbar-width: thin;
  scrollbar-color: var(--brown) transparent;
}

body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--brown);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}