.containerProductCard {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

  background-color: #f4f5f7;

  width: 28rem;
  height: auto;
}

.containerProductCard img {
  width: 100%;
}

.containerProductCard .contentInfos {
  margin: 1rem 2rem 1rem;
}

.containerProductCard .contentInfos h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

.containerProductCard .contentInfos .desc {
  font-size: 1.2rem;
  color: var(--gray);
  margin-top: 0.7rem;
}

.containerProductCard .contentInfos .priceContainer {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.containerProductCard .contentInfos .priceContainer .price {
  font-weight: 600;
  font-size: 1.8rem;
}

.containerProductCard .contentInfos .priceContainer .beforePrice {
  text-decoration: line-through;
  color: #b0b0b0;
  font-size: 1.6rem;
}

.imageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.discountStar {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: #e97171;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.5em 0.8em;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  min-width: 20px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}