.produto {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 1.25rem;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: #f4f5f7;
}

.produto:hover {
  transform: scale(1.05);
}

.produtoImageContainer {
  position: relative;
}

.produtoImage {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease, filter 0.3s ease;
}

.produtoImageContainer.hovered .produtoImage {
  filter: brightness(0.5);
}

.addToCartButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 70%;
}

.addToCartButton button {
  background: none;
  color: #b88e2f;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 0px 0px;
}

.produtoInfo {
  padding: 15px;
  text-align: justify;
}

.produtoName {
  font-weight: bold;
  font-size: 22px;
  color: #3a3a3a;
}

.produtoDescription {
  font-size: 14px;
  color: #777;
}

.produtoPrice {
  font-size: 22px;
  font-weight: bold;
  color: #3a3a3a;
}
